<div class="jumbotron">
	<div class="container">
		<form ng-Submit="addEmp()">
			<div class="form-group">
				<label>SSN</label>
				<input type="text" class="form-control" ng-model="newEmp.ssn">
			</div>
			<div class="form-group">
				<label>First Name</label>
				<input type="text" class="form-control" ng-model="newEmp.firstname">
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" class="form-control" ng-model="newEmp.lastname">
			</div>
			<div class="form-group">
			  <label for="sel1">Position</label>
				<a href="#/job-add" ng-show="authenticated"><font size="1">(Add a Position)</font></a>
			  <select class="form-control" id="sel1" ng-model="newEmp.position">
			    <option ng-repeat="x in positions">{{x.JOB_TITLE}}</option>
			  </select>
			</div>
				<button type="submit" class="btn btn-default">Add</button>
		</form>
		<!--<div class="dropdown">
  			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  			<span class="caret"></span></button>
  			<ul class="dropdown-menu">
			    <li ng-repeat="x in positions">{{x.JOB_TITLE}}</li>
		  </ul>
</div>-->
	</div>
</div>