<div class="jumbotron">
	<div class="container">
		<form ng-Submit="addInv()">
			<!-- IMAGE
			<div class="form-group">
				<label>Image</label>
				<input type="file" ng-model="newItem.img">
			</div>
			-->
			<div class="form-group">
			  <label for="sel1">Order Associated With Item</label>
			  <select class="form-control" id="sel1" ng-model="newItem.orderNum">
			    <option ng-repeat="x in orders">{{x._id}}</option>
			  </select>
			</div>
			<div class="form-group">
				<label>Image URL</label>
				<input type="text" class="form-control" ng-model="newItem.img">
			</div>
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" ng-model="newItem.name">
			</div>
			<div class="form-group">
			  <label for="sel1">Category</label>
				<a href="#/cat-add" ng-show="authenticated"><font size="1">(Add a Category)</font></a>
			  <select class="form-control" id="sel1" ng-model="newItem.category">
			    <option ng-repeat="x in categories">{{x.CATEGORY}}</option>
			  </select>
			</div>
			<div class="form-group">
				<label>Condition</label>
				<input type="text" class="form-control" ng-model="newItem.condition">
			</div>
			<div class="form-group">
				<label>Unit Price</label>
				<input type="number" class="form-control" ng-model="newItem.price">
			</div>
				<button type="submit" class="btn btn-default">Add</button>
		</form>
	</div>
</div>