<div class="jumbotron">
	<div class="container">
		<form ng-Submit="addInv()">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" ng-model="name">
			</div>
			<div class="form-group">
				<label>Condition</label>
				<input type="text" class="form-control" ng-model="condition">
			</div>
			<div class="form-group">
				<label>Unit Price</label>
				<input type="text" class="form-control" ng-model="price">
			</div>
			<div class="form-group">
				<label>Vendor</label>
				<input type="text" class="form-control" ng-model="vendor">
			</div>
			<div class="form-group">
				<label>Category</label>
				<input type="text" class="form-control" ng-model="category">
			</div>
			<div class="form-group">
				<label>Order #</label>
				<input type="text" class="form-control" ng-model="orderNum">
			</div>
				<button type="submit" class="btn btn-default">Add</button>
		</form>
	</div>
</div>