<div class="jumbotron">
	<div class="container">
		<h2>Employee Login</h2>
		<p class="text-warning">{{error_message}}</p>
		<form ng-submit="checkEmp()">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" class="form-control" placeholder="First Name" ng-model="newUser.firstname">
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" class="form-control" placeholder="Last Name" ng-model="newUser.lastname">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>