<div class="jumbotron">
<img src="images/example-mountain-bike.jpg" alt="..." height="250px" width="250px">
	<div class="container-fluid pull-right">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Order Description:</h4>
			</div>
			<div class="panel-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non tortor ut dui vehicula facilisis. Suspendisse feugiat dui ac eros luctus vulputate. Aenean interdum dui vitae vehicula consectetur. Aenean molestie aliquet tortor ac mollis. Maecenas vel leo vitae libero semper hendrerit. Suspendisse dapibus, justo at aliquet eleifend, nibh eros malesuada magna, id imperdiet leo odio a metus. Nullam quam ante, tempus quis urna non, semper consectetur leo. Ut pretium nisl lectus, vitae accumsan mauris sollicitudin sit amet. Mauris a mattis elit. Fusce pulvinar quam vitae mauris dapibus, in dapibus felis dictum. Etiam sollicitudin vulputate mi, non tincidunt sem ultricies eu. Phasellus ut dignissim odio, id tincidunt odio. Suspendisse tristique feugiat dui, non hendrerit nunc ultrices vitae. 
			</div>
			<table class="table">
				<tr>
					<th>Product</th>
					<th>Vendor</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Employee</th>
				</tr>
				<tr ng-repeat="(key, prop) in orderdetails">
					<td>{{prop.item}}</td>
					<th ng-click="getvendor(order.VENDOR_REF_ID)"><a href="#/vend-detail">{{order.VENDOR_REF_ID}}</a></th>
					<th>{{prop.quantity}}</th>
					<th>$10.00</th>
					<th>{{order.TRACKING_INFO.CREATED_BY}}</th>
				</tr>
			</table>
		</div>
	</div>
</div>
