<div class="jumbotron">
	<div class="container">
		<form ng-submit="addOrder()">
			<div class="form-group">
			  <label for="sel1">Vendor</label>
				<a href="#/vend-add" ng-show="authenticated"><font size="1">(Add a Vendor)</font></a>
			  <select class="form-control" id="sel1" ng-model="newOrder.vendor">
			    <option ng-repeat="x in vendors">{{x.NAME}}</option>
			  </select>
			</div>
			<div class="form-group">
				<label>Items</label>
				<input type="text" class="form-control" ng-model="newOrder.Item">
			</div>
			<!-- Need to be able to add multiple items -->
			<div class="form-group">
				<label>Address Street</label>
				<input type="text" class="form-control" ng-model="newOrder.street" value="123 Example St">
			</div>
			<div class="form-group">
				<label>Address City</label>
				<input type="text" class="form-control" ng-model="newOrder.city" value="San Diego">
			</div>
			<div class="form-group">
				<label>Address State</label>
				<input type="text" class="form-control" ng-model="newOrder.state" value="CA">
			</div>
			<div class="form-group">
				<label>Shipping Type</label>
				<input type="text" class="form-control" ng-model="newOrder.shipping">
			</div>
			<div class="form-group">
				<label>Desired Receipt Date</label>
				<input type="text" class="form-control" ng-model="newOrder.receipt">
			</div>
				<button type="submit" class="btn btn-default">Add</button>
		</form>
	</div>
</div>