<div class="jumbotron">
	<div class="container">
		<form ng-submit="addTrans()">
			<div class="form-group">
				<label>Transaction Type</label>
				<input type="text" class="form-control" ng-model="newTrans.transType">
			</div>
			<div class="form-group">
				<label>Schedule Status</label>
				<input type="text" class="form-control" ng-model="newTrans.status">
			</div>
			<div class="form-group">
				<label>Shipping Type</label>
				<input type="text" class="form-control" ng-model="newTrans.shipType">
			</div>
			<div class="form-group">
				<label>Total Cost</label>
				<input type="number" class="form-control" ng-model="newTrans.total">
			</div>
			<div class="form-group">
				<label>Delivery Status</label>
				<input type="text" class="form-control" ng-model="newTrans.delivStatus">
			</div>
			<button type="submit" class="btn btn-default">Add</button>
		</form>
	</div>
</div>