<div class="jumbotron">
	<div class="container">
		<form ng-Submit="addInv()">
			<div class="form-group">
				<label for="testProductName">Product Name</label>
				<input type="text" class="form-control" id="testProductName" ng-model="newItem.product_name">
			</div>
			<div class="form-group">
				<label for="testVendorName">Vendor Name</label>
				<input type="text" class="form-control" id="testVendorName" ng-model="newItem.vendor_name">
			</div>
			<div class="form-group">
				<label for="testQuantity">Quantity</label>
				<input type="number" class="form-control" id="testQuantity" ng-model="newItem.quantity">
			</div>
			<div class="form-group">
				<label for="testSellingPrice">Selling Price</label>
				<input type="text" class="form-control" id="testSellingPrice" ng-model="newItem.sell_price">
			</div>
				<button type="submit" class="btn btn-default">Add</button>
		</form>
	</div>
</div>